.Click-Me,
.No-Click-Me{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}


.ClickMe{
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    
}

.NoClickMe{
   background-color: #ffff00;
}