.odd{
    background-color:#FFCCCB;
    font-family:Verdana, "DejAvu Sans", sans-serif ;
}

.adjust-font-size{
    font-size: 24px;
}

#two{
    color:#0000FF;
    font-size: 36px;
}

#four{
    background-color:#98ff98 ;
    font-size: 24px;
    font-weight: bold;
}